@font-face {
    font-family: nunito;
    src: url(fonts/Nunito-Medium.ttf);
  }
  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: nunito;
    font-size: 1em;
    line-height: 1.5;
    padding-top: 4em;
  }
  li>a, li>a:link, li>a:visited {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; /* The distance between text and underline */
  }
  
  li>a::before {
    content: "";
    position: absolute;
    width: 90%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, white, white); /* underline color */
    background-size: 0 2px; /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom; /* start position of underline */
    transition: background-size .3s ease-in; /* duration and timing style of animation */
  }
  
  li>a:hover::before {
    background-size: 100% 2px;
  }
  
  img{
    height:50px;
  }